/*chat-box.css*/

/*Button used to open the chat form - fixed at the bottom of the page*/
.chat-open-button {
  /*position and dimensions*/
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  padding: 16px 20px;
  
  /*format*/
  background-color: #555;
  color: white;
  border: none;
  opacity: 0.8;
}

/*The chat popup - hidden by default*/
.chat-popup {
  /*position and dimensions*/
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;     /*elevates chat box over the chat-open-button*/
  
  /*format*/
  border: 3px solid #f1f1f1;
}

/*Form container*/
.chat-form {
  /*position and dimensions*/
  max-width: 300px;
  padding: 10px;

  /*format*/
  background-color: white;
}

/*textarea*/
.chat-form textarea{
  /*position and dimensions*/
  min-height: 200px;  
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  resize: none;
  
  /*format*/
  border: none;
  background: #f1f1f1;
}

/*When the textarea gets focus, do something*/
.chat-form textarea:focus{
  /*format*/
  outline: none;
  background-color: #ddd;
}

/*Send button*/
.chat-form .btn {
  /*position and dimension*/
  width: 100%;
  margin-bottom:10px;
  padding: 16px 20px;

  /*format*/
  color: white;
  background-color: #4CAF50;
  border: none;
  opacity: 0.8;
}

/*Cancel button*/
.chat-form .cancel {
  /*format*/
  background-color: red;
}

/*Button hover effects*/
.chat-form .btn:hover, .open-button:hover {
  opacity: 1;
}