/*gen-style.css*/
/*defines styles of the following:
1. general structure and layout of the pages
2. navbar styles
3. form styles
4. scrollbar styles
5. circular icon frames*/

/*style common to all elements*/
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
*{box-sizing: border-box;} /*This line that border values and padding values are included in the value specified*/
 
body{		
	/*position and dimensions*/
  	padding:0px;
	margin:0px;	

	/*format*/
	font-family: 'Work Sans', comic-sans;
	font-weight: 1000;	
	overflow-x: hidden;  /*x-scrollbar are hiddden*/
}

					/*defining page layout and structure*/
/*defining rows*/
.row{
	/*position and dimensions*/
	margin: 0.5vw;
	padding: 0.5vw;
	width: 100%;

	/*structure*/
	/*all of these are flexbox properties*/
	display: flex;
	flex-direction: row;
	align-items: center;
	
	/*format - centering elements*/
	text-align: justify;
  	justify-content: center; 
}

/*media queriy*/
@media only screen and (min-width: 768px) {
  /*For desktop screens*/
	.col-md-1 {width: 8.33%;padding:2vw;}
	.col-md-2 {width: 16.66%;padding:2vw;}
	.col-md-3 {width: 25%;padding:2vw;}
	.col-md-4 {width: 33.33%;padding:2vw;}
	.col-md-5 {width: 41.66%;padding:2vw;}
	.col-md-6 {width: 50%;padding:2vw;}
	.col-md-7 {width: 58.33%;padding:2vw;}
	.col-md-8 {width: 66.66%;padding:2vw;}
	.col-md-9 {width: 75%; padding:2vw;}
	.col-md-10 {width: 83.33%;padding:2vw;}
	.col-md-11 {width: 91.66%;padding:2vw;}
	.col-md-12 {width: 100%;padding:2vw;}
}
					/*end of page layout and structure styles*/


								/*navbar styles*/
header {
	/*structure*/
  	margin-bottom: 3em;
  	letter-spacing: 0.2em;
  	word-spacing: 0.3em;

  	/*format*/
	background: #c19a5b73;
}
header::after {
  content: '';
  display: table;
  clear: both;
}
.nav-container {
  width: 96%;
  margin: 0 auto;
}
.logo {
  float: left;
  padding: 0px 0;
}
nav {
  float: right;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 24px;

  position: relative;
}
nav a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
nav a:hover {
  color: #000;
}
nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #000;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 200ms;
}
nav a:hover::before {
  width: 100%;
}
							/*end of nav bar styles*/




								/*form styles*/
/*outermost form container - contains form elements*/
#form-container{
	/*position and dimensions*/
	margin-top: 5em;
	padding: 5em 2em 5em 2em

	/*format*/;
	background-color: hsl(54, 100%, 97%);
 	border-radius: 25px;
  	box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.5);	/*horizontal offset, vertical offset, blur radius, spread radius, color*/
  	 
}
/*heading of form*/
.form-heading{
	/*position and dimensions*/
	margin-bottom: 1vw;
	text-align: center;	

	/*format*/
	font-size: 2.5em;
	color: #222;
 	font-weight: bold;
}
/*each input box container - contains icon, input and label*/
.form-group{
	/*positon and dimensions*/ 
	position:;
	max-height: 50px;
	width: 100%;
}
/*position of icon in form input box*/
.form-group i{
	/*position and dimensions*/
	position: relative;
	top: 23px;
	left: 7px;
}
/*input box styles*/
input{
	/*position and dimensions*/
	display: block;
  	width: 100%;
  	padding: 8px 30px;

  	/*format*/
  	border: none;
  	border-bottom: 1px solid #999;
 	box-sizing: border-box; 
}

/*form submit button*/
.form-submit{
	/*position and dimensions*/
	display: inline-block;
  	width: auto;
  	padding: 15px 39px;
  	margin-top: 25px;
	
	/*format*/
	color: #fff;
  	background: #6dabe4;
  	border-radius: 5px;
  	border-bottom: none;
	text-align: center;
  	
}
.form-submit:hover {
    background: #4292dc; 
}
							/*end of form styles*/



							/*Scroll bar styles*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
						/*end of scroll bar styles*/






						/*css for circular icon frames*/ 
.inline-pic {
  /*position and dimensions*/
  position: relative;
  width: 120px;
  height: 120px;
  margin: 1em auto;
  text-align: center;

  /*border formatting*/
  border: 0.25em solid #000;
  border-radius: 50%;
  box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);

  /*animation*/
  transition: transform 0.25s; 
}
.inline-pic:hover{
  /*animation*/
  transform: scale(1.25);
  opacity: 0.75;
}
a .inline-pic{
	color: #000;
}
/*icon positioning*/
/*this positioning works for most but not for all*/
i{
  /*position and dimensions*/
  position: absolute;
  left: 30px;
  top: 30px;
  display: inline-block;
}
/*custom-positioning for individual icons that require it*/
i.zmdi-male-alt, i.zmdi-female{
  /*position*/
  left:50px;
  top:50px;
}
i.zmdi-account, i.zmdi-calendar, i.zmdi-city{
  /*position*/
  left:34px;
}
i.zmdi-facebook{
  /*position*/
  left:40px;
}
i.zmdi-search{
  /*position*/
	left:32px;
	top:26px;
}

/*css for tag that goes along with icon*/
.tag-name{
  /*position*/
  text-align: center;
}
						/*end of css for icon frames*/

/*to center an abject within a div. Make wrapper = text-align center; and child as display: inline-block;*/
