/*grow.css*/
body{
  background: #fff5dc;
  background-image: linear-gradient(135deg, rgb(245, 235, 219), rgb(255, 255, 255));
}
                          /*css for parallax scroll*/
/*navbar is present in this container*/
.parallax{
  background-image: url("../pictures/banayan.jpg");
  /*position and dimensions*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* Creates the parallax effect */

  height: 100vh;
  margin: 0;
  padding: 0;

  /*text-formatting*/
  font-family: times;
  letter-spacing: 0.2em;
  word-spacing: 0.3em;  
}
/*over-riding a few css properties like color and background of navbar*/
header{
  margin-bottom: 0;
  background-color: transparent;
}
.logo{
  color: white;
  font-family: 'Work Sans', comic-sans;
}
nav a{
  color: #FFFFFFFF;
}
nav a:hover {
  color: #FFFFFFFF;
}
nav a::before{
  background-color: #FFFFFFFF;
}

/*css for the heading text on parallax scroll bar*/
#top-row{
  color: #FFFFFFFF;
  height: 80vh;
}
/*seperate font-properties for page welcome*/
#page-welcome{
    font-size: 5em;
    letter-spacing: 0.3em;
    text-align: center;
}
                      /*end of css for parallax scroll*/