/*index.css*/

							/*defining new font-face*/
@font-face {
  font-family: 'quote-font';	/*name of font-face in this css document*/
  src: URL('AdineKirnberg-Script.ttf') format('truetype');	/*importing local font from css folder*/
}
							/*background of navbar*/
header{
	background: url(../pictures/tile_texture2.jpg);
}
					/*background of the rest of the webpage*/
body{
	background-image: linear-gradient(135deg, rgb(245, 235, 219), rgb(255, 255, 255));
}

						/*css for parallax scroll*/
/*navbar is present in this container*/
.parallax{
	background-image: url("../pictures/blue-mountains.jpg");
	/*position and dimensions*/
  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;	/* Creates the parallax effect */

  	height: 100vh;
  	margin: 0;
  	padding: 0;

  	/*text-formatting*/
  	letter-spacing: 0.2em;
  	word-spacing: 0.3em; 	
}

/*css for the normal text in parallax div*/
#top-row{
	/*dimensions*/
	height: 80vh;
	/*text-format*/
 	color: #000;
  	font-size: 3em;
	text-align: center;
}
/*css for text in quotes in parallax div*/
#page-welcome-quote{
	/*text-format*/
    font-size: 2em;
    letter-spacing: 0.25em;
    color:#FFFFFF;
}
/*css for CTA(Call-To_action) line - redirects to signup page*/
#cta{
	/*position and dimensions*/
	display: inline-block;
	/*format*/
	font-size: 2vw;
	font-weight:100;
	color: #FFF;
	text-decoration: none;
	/*animation*/
	transition: transform 0.25s;
}
#cta:hover{
  transform: scale(1.25);
  opacity: 0.75;
}
					/*end of parallax scroll container*/


					/*css for testimonials and About Us*/
/*css for section headers*/
.section-heading{
	/*text-formatiing*/
	font-size: 3em;
	letter-spacing: 0.2em;
 	word-spacing: 0.3em;
	text-align: left;
}
/*testimonials*/
/*this is used only for testimonial quotes in even positions*/
.quote-even{
	/*text-format*/	
	font-family: 'quote-font';
	font-size: 3em;
	font-weight: 400;
	text-align: right;
}
/*this is used only for testimonial quotes in even positions*/
.quote-odd{
	/*text-format*/		
	font-family: 'quote-font';
	font-size: 3em;
	font-weight: 400;
}
/*About Us*/
/*css for circular developer-pic frames*/ 
.dev-pic{
	/*position and dimensions*/
	display: block;
	width: 150px;
	height: 150px;
	top: 0px;
	left: 0px;
  	margin: auto;
	/*picture-format*/
	border-radius: 50%;
	box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
}
					/*end of css for testimonials and About Us*/


								/*css for back to top*/
#toTop{
    padding: 0.3em;
    position: fixed;
    bottom: 0.1vw;
    right: 0.1vw;
    display: none;

    font-size: 1vw;
	font-weight:100;
	transition: transform 0.25s;
	text-decoration: none;
}
#toTop:hover{
  transform: scale(1.1);
  opacity: 0.75;
}
							/*end of css for back to top*/