/*log-in.css*/

body{
	background: url(../pictures/tile_texture5.jpg);
}
img{
	/*position and dimensions*/
	display: block;
	max-width: 100%;
	max-height: 100%;
}
#sign-up-redirect{
	/*position and dimensions*/
	margin-top: 2em;
	text-align: center;

	/*format*/
	font-size: 0.75em;
}
#hlink-signup{
	/*format*/
	font-size: 0.75em;
	font-weight: 300;
}