/*log-in.css*/

body{
	background-image: linear-gradient(135deg, rgb(245, 235, 219), rgb(255, 255, 255));
	background: url(../pictures/tile_texture5.jpg);
}
.heading1{
	text-align: center;
}
img{
	max-width: 20em;
	max-height: 30em;
	/*centering an image*/
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
	/*end of centering image*/
}
#sign-up-redirect{
	text-align: center;
	margin-top: 2em;
	font-size: 0.75em;
}
#hlink-signup{
	font-size: 0.75em;
	font-weight: 300;
}



