/*you.css*/
                            /*css for parallax scroll*/
/*navbar is present in this container*/
.parallax{
  background-image: url("../pictures/milky-way.jpg");
  /*position and dimensions*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* Creates the parallax effect */

  height: 100vh;
  margin: 0;
  padding: 0;

  /*text-formatting*/
  letter-spacing: 0.2em;
  word-spacing: 0.3em;  
}
/*over-riding a few css properties like color and background of navbar*/
header{
  margin-bottom: 0;
  background-color: transparent;
}
.logo{
  color: white;
}
nav a{
  color: #FFFFFFFF;
}
nav a:hover {
  color: #FFFFFFFF;
}
nav a::before{
  background-color: #FFFFFFFF;
}

/*css for the heading text on parallax scroll bar*/
#top-row{
  color: #FFFFFFFF;
  height: 80vh;
}
/*seperate font-properties for page welcome*/
#page-welcome{
    font-size: 4em;
    letter-spacing: 0.25em;
    text-align: center;
}
                      /*end of css for parallax scroll*/
                                    
                                    /*svg*/
/*css for tree at the bottom*/
.tree{
    /*position and dimensions*/
    position: relative;
    width: 120px;
    height: 120px;
    margin: 1em auto;
    text-align: center;
    will-change: transform, opacity;
    padding: 0;
}
/*css for svg lines of tree*/
line{
  stroke:rgb(255,0,0);
  stroke-width:"2";
}
/*animation of tree rendering*/
.svg-container{
  overflow: hidden;
  -webkit-animation: reveal 4s ease;
  -webkit-animation-fill-mode: backwards;
}
@-webkit-keyframes reveal{
  from {width: 0px;}
  to {width: 100%;}
}
@keyframes reveal{
  from {width: 0px;}
  to {width: 100%;}
}
                                  /*end of svg*/


/*css for section headers*/
.section-heading{
  /*text-formatiing*/
  font-size: 3em;
  letter-spacing: 0.2em;
  word-spacing: 0.3em;
  text-align: left;
}

/*horizontal lines across the page*/
hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

