/*add_person.css*/
#form-container{
 	border-radius: 25px;
	background-color: hsl(54, 100%, 97%);
  	padding: 2em;
  	padding-top: 5em;
	padding-bottom: 5em;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  	margin-top: 5em; 
}
body{
	background-image: linear-gradient(135deg, rgb(245, 235, 219), rgb(255, 255, 255));
	background: url(tile_texture5.jpg);
	object-fit: contain;
}
.heading1{
	text-align: center;
}
img{
	max-width: 20em;
	max-height: 30em;
}
#sign-up-redirect{
	text-align: center;
	margin-top: 2em;
	font-size: 0.75em;
}
#hlink-signup{
	display: inline-block;
}
input{
	padding: 6px 10px;
}
#add-new-person{
    text-align: center;
}
.form-prompts{
	text-align: left;
	font-size: small;
}
.form-group{
	margin: 0;
	padding:1px;
}
hr{
	border-style: dotted;
}




